*.dll
*.exe
*.nes
*.cache
/.vs
/BuckyEditor/packages
/BuckyEditor/.vs
/BuckyEditor/bin
/BuckyEditor/obj
/BuckyEditor/*.pdb
/BuckyEditor/*.deb

# stray files from build
BuckyEditor/BuckyEditor.exe.config
BuckyEditor/ConfigViewer.exe.config
BuckyEditor/CSScriptLibrary.xml
